.team-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.team-member {
    flex: 1 0 21%; /* Grow and shrink, basis is 21% to allow for 4 items in a row with space in between */
    margin: 1%;
    background: rgba(255, 255, 255, 0.1); /* Semi-transparent white */
    backdrop-filter: blur(5px);
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
    padding-top: 20px;
}

@media (max-width: 1080px) {
    .team-member {
        flex: 1 0 46%; /* Allow 2 items per row on small screens */
    }
}

@media (max-width: 600px) {
    .team-member {
        flex: 1 0 96%; /* Allow 1 item per row on very small screens */
    }
}

body {
    background-image: url('assets/backgroundCow.png');
    background-attachment: fixed;
    background-position: center;
    background-repeat: repeat;
    background-size: auto;
}